html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
}

input {
  font-size: 16px;
}

#map {
  bottom:0px;
  height: 100%;
  left: 0px;
  right: 0px;
}

#options-box {
  position: absolute;
  background: #fff;
  z-index: 99;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  margin: 30px;
  /* height: 88px; */
  line-height: 35px;
  text-align: left;
  width: 340px;
}

#search-place {
  width: 280px;
}

#travel-time {
  width: 45px;
}

#weekday {
  width: 80px;
}

#max-walk-dist {
  width: 60px;
}

#max-transfer-times {
  width: 30px;
}