:root {
    /* COLORS */
    --white: #e9e9e9;
    --orange: #f4623a;
    --lightorange: #f4843a;
}

html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper {
    overflow-x: hidden;
    padding-left: 0;
    padding-right: 0;
    min-height: calc(100vh - var(--navbar-height));
}

#map-wrapper {
    position: relative;
}

#map {
    height: 100%;
}

#side-box {
    position: absolute;
    background: #fff;
    z-index: 99;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    text-align: left;
    width: 320px;
    box-sizing: border-box;
}