:root {
    /* COLORS */
    --white: #e9e9e9;
    --gray: #333;
    --blue: #0367a6;
    --lightblue: #008997;
    --orange: #f4623a;
    --lightorange: #f4843a;
    /* RADII */
    --button-radius: 0.7rem;
    /* SIZES */
    --max-width: 600px;
    --max-height: 370px;
    font-size: 16px;
}

body {
    align-items: center;
    background-color: var(--white);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("https://dn2q0givzyynx.cloudfront.net/Taipei%20Travel%20Time/bg-bus.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    height: 100vh;
    place-items: center;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
}

#mainNav .navbar-brand {
    font-family: var(--font-family);
    font-weight: 700;
    color: #212529;
}

@media (min-width: 992px) {
    #mainNav {
        box-shadow: none;
        background-color: transparent;
    }
    #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7);
    }
    #mainNav .navbar-brand:hover {
        color: #fff;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        color: rgba(255, 255, 255, 0.7);
        padding: 0 1rem;
    }
    #mainNav .navbar-nav .nav-item .nav-link:hover {
        color: #fff;
    }
    #mainNav .navbar-nav .nav-item:last-child .nav-link {
        padding-right: 0;
    }
    #mainNav.navbar-scrolled {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        background-color: #fff;
    }
    #mainNav.navbar-scrolled .navbar-brand {
        color: #212529;
    }
    #mainNav.navbar-scrolled .navbar-brand:hover {
        color: #f4623a;
    }
    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
        color: #212529;
    }
    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
        color: #f4623a;
    }
}

.headline-title {
    font-family: var(--font-family);
    font-weight: 900;
    line-height: 3rem;
    color: #fff;
    margin-bottom: 1.5rem;
}

.headline-slogan {
    font-family: var(--font-family);
    line-height: 2.5rem;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 2rem;
    /* padding-left: 1rem;
    margin-left: 0.2rem;
    border-left:  2px solid  #f24516; */
}

#mainNav .navbar-brand {
    font-family: var(--font-family);
    font-weight: 700;
    color: #fff;
}

.form__title {
    font-weight: 300;
    margin: 0;
    margin-bottom: 1rem;
}

.link {
    color: var(--gray);
    font-size: 0.9rem;
    margin: 0.5rem 0;
    text-decoration: none;
}

.member {
    background-color: var(--white);
    border-radius: var(--button-radius);
    box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25), 0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
    height: var(--max-height);
    max-width: var(--max-width);
    overflow: hidden;
    position: relative;
    width: 100%;
}

.member__form {
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.6s ease-in-out;
}

.member--signin {
    left: 0;
    width: 50%;
    z-index: 2;
}

.member.right-panel-active .member--signin {
    transform: translateX(100%);
}

.member--signup {
    left: 0;
    opacity: 0;
    width: 50%;
    z-index: 1;
}

.member.right-panel-active .member--signup {
    animation: show 0.6s;
    opacity: 1;
    transform: translateX(100%);
    z-index: 5;
}

.member__overlay {
    height: 100%;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: transform 0.6s ease-in-out;
    width: 50%;
    z-index: 6;
}

.member.right-panel-active .member__overlay {
    transform: translateX(-100%);
}

.overlay {
    background-color: var(--lightblue);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("https://dn2q0givzyynx.cloudfront.net/Taipei%20Travel%20Time/bg-bus.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: -100%;
    position: relative;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 200%;
}

.member.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay__panel {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 50%;
}

.overlay--left {
    transform: translateX(-20%);
}

.member.right-panel-active .overlay--left {
    transform: translateX(0);
}

.overlay--right {
    right: 0;
    transform: translateX(0);
}

.member.right-panel-active .overlay--right {
    transform: translateX(20%);
}

.btn {
    background-color: var(--orange);
    background-image: linear-gradient(90deg, var(--orange) 0%, var(--lightorange) 74%);
    border-radius: 2.5rem;
    border: 1px solid var(--orange);
    color: var(--white);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.75rem 3rem;
    transition: transform 80ms ease-in;
}

.form>.btn {
    margin-top: 1.5rem;
}

.btn:active {
    transform: scale(0.95);
}

.btn:focus {
    outline: none;
}

.form {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 3rem;
    height: 100%;
    text-align: center;
}

.input {
    background-color: #fff;
    border: none;
    padding: 0.4rem 0.4rem;
    margin: 0.5rem 0;
    width: 100%;
}

@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.fb_reset {
    display: none;
}